@using CoursesPlatform.Models.Teacher.Course.Elements
@model CoursesPlatform.Models.Teacher.Course.Lesson

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lesson</h4>
    <hr />
    <h2>@Model.Topic</h2>
    @foreach (var item in Model.Content)
    {
        @if (item is Image)
        {
            <img src="@item.GetContent()" />
        }
        else if(item is Paragraph)
        {
            <p>@item.GetContent()</p>
        }
    }
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index" asp-route-courseId="@Model.CourseId">Back to List</a>
</div>
