@model CoursesPlatform.Models.Teacher.Course.ViewModel.CourseViewModel

@{
    ViewData["Title"] = "Home Page";
}
<style>
    @@font-face {
        font-family: 'FontAwesome';
        src: url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2') format('woff2'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff') format('woff'), url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/fonts/fontawesome-webfont.ttf') format('truetype');
        font-weight: normal;
        font-style: normal
    }

    .glyphicon {
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }

    .glyphicon-chevron-right:before {
        content: "\f054";
    }

    .glyphicon-chevron-left:before {
        content: "\f053";
    }
</style>

</section>


<section class="container">
    <div class="navigation">
        <div id="aside">
            <div class="list-group list-group-flush">
                <form method="get" asp-action="Index" asp-controller="TraidingArea">
                    <div class="list-group-item">
                        <h4 class="text-title">Группа товаров:</h4>
                        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0" class="scroll">
                            @foreach (var category in Model.FilterViewModel.Categories)
                            {
                                <div class="checkbox">
                                    <label>
                                        @if (Model.FilterViewModel.SelectedCategories.ToList().Contains(int.Parse(category.Value)))
                                        {
                                            <input type="checkbox" name="CategoriesId" value="@category.Value"
                                                   checked>@category.Text
                                            }
                                            else
                                            {
                                                <input type="checkbox" name="CategoriesId" value="@category.Value">@category.Text
                                            }
                                    </label>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="list-group-item">
                        <h4 class="text-title">Цена:</h4>
                        <div id="cost">
                            <div class="text-number d-inline">
                                <label>
                                    от <input class="numbers" name="CostFrom" type="number" min="0" step="any"
                                              value="@Model.FilterViewModel.SelectedCostFrom" />
                                </label>
                            </div>
                            <div class="text-number d-inline">
                                <label>
                                    до <input class="numbers" name="CostTo" type="number" min="0" step="any"
                                              value="@Model.FilterViewModel.SelectedCostTo" />
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="list-group-item">
                        <input class="btn btn-filter" type="submit" value="Применить фильтр">
                    </div>
                </form>
                <div class="list-group-item">
                    <h4 class="text-title">Сортировки:</h4>
                    <div class="">

                        <form asp-action="Index">
                            <input type="text" name="sortOrder" value="@(Model.SortViewModel.NameSort)" hidden>
                            <input type="number" name="CostFrom" value="@Model.FilterViewModel.SelectedCostFrom" hidden>
                            <input type="number" name="CostTo" value="@Model.FilterViewModel.SelectedCostTo" hidden>
                            @foreach (var category in Model.FilterViewModel.SelectedCategories)
                            {
                                <input type="number" name="CategoriesId" value="@category" hidden>
                            }
                            <input type="submit" class="btn btn-filter" value="По алфавиту">
                        </form>

                        <form asp-action="Index">
                            <input type="text" name="sortOrder" value="@(Model.SortViewModel.CostSort)" hidden>
                            <input type="number" name="CostFrom" value="@Model.FilterViewModel.SelectedCostFrom" hidden>
                            <input type="number" name="CostTo" value="@Model.FilterViewModel.SelectedCostTo" hidden>
                            @foreach (var category in Model.FilterViewModel.SelectedCategories)
                            {
                                <input type="number" name="CategoriesId" value="@category" hidden>
                            }
                            <input type="submit" class="btn btn-filter" value="По Цене">
                        </form>
                    </div>
                </div>
                <div class="list-group-item">
                    <div class="">
                        <a asp-action="Index" asp-controller="TraidingArea" class="btn btn-filter">Отмена</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="content">
        
        <div class="albums">
            <div class="album">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                        
                        @foreach (var course in Model.Courses)
                        {
                            <div class="col">
                                <div class="card text-center shadow-sm" >
                                    <a asp-action="Details" asp-controller="TraidingArea" asp-route-id="@course.Id">
                                        <div class="img-cover">
                                            <img class='card-img card-img-top' src="@course.Image.GetContent()">
                                        </div>
                                    </a>
                                    
                                    <div class="card-body">
                                        <h5 class="card-title">@course.Name</h5>
                                        <h6 class="card-subtitle text-muted">@course.CourseCategory.Name</h6>
                                        <h6 class="card-subtitle text-muted">@course.UserPublishedCourses.</h6>
                                        <h4 class="card-price">@course.Cost<br><small class="card-price-cost text-muted">рублей</small></h4>
                                        <form asp-controller="Orders" asp-action="Add" method="POST">
                                        <input type="number" name="productId" value="@course.Id" hidden>

                                        <input type="submit" class="btn" name="add-to-order" value="Добавить в корзину">
                                    </form>
                                    </div>
                                </div>
                            </div>
                            
                        }

                    
                        

                    </div>

                </div>
            </div>
        </div>

       
        <div class="pagination-container">
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item-text page-item">
                        @if (Model.PageViewModel.HasPreviousPage)
                        {
                            <form asp-action="Index">
                                <input type="text" name="page" value="@(Model.PageViewModel.PageNumber - 1)" hidden>
                                <input type="text" name="sortOrder" value="@(Model.SortViewModel.CurrentState)" hidden>
                                <input type="number" name="CostFrom" value="@Model.FilterViewModel.SelectedCostFrom" hidden>
                                <input type="number" name="CostTo" value="@Model.FilterViewModel.SelectedCostTo" hidden>
                                            @foreach (var category in Model.FilterViewModel.SelectedCategories)
                                            {
                                    <input type="number" name="CategoriesId" value="@category" hidden>
                                            }
                                <input type="submit" class="page-link glyphicon glyphicon-chevron-left" value="Предыдущая">
                            </form>
                        }
                        else
                        {
                            <input type="submit" class="page-link page-linl-disabled glyphicon glyphicon-chevron-left" disabled value="Предыдущая">
                        }
                    </li>
                    <li class="page-item"><p class="page-link"> @Model.PageViewModel.PageNumber</p></li>
                    <li class="page-item-text page-item">
                        @if (Model.PageViewModel.HasNextPage)
                        {
                            <form asp-action="Index">
                                <input type="text" name="page" value="@(Model.PageViewModel.PageNumber + 1)" hidden>
                                <input type="text" name="sortOrder" value="@(Model.SortViewModel.CurrentState)" hidden>
                                <input type="number" name="CostFrom" value="@Model.FilterViewModel.SelectedCostFrom" hidden>
                                <input type="number" name="CostTo" value="@Model.FilterViewModel.SelectedCostTo" hidden>
                                @foreach (var category in Model.FilterViewModel.SelectedCategories)
                                {
                                    <input type="number" name="CategoriesId" value="@category" hidden>
                                }
                                <input type="submit" class=" page-link glyphicon glyphicon-chevron-left" value="Следющая">
                            </form>
                        }
                        else{
                            <input type="submit" class="page-linl-disabled page-link  glyphicon glyphicon-chevron-left" disabled value="Следющая">
                        }
                    </li>
                </ul>
            </nav>

            
           
            
        </div>
    </div>
</section>