@using CoursesPlatform.Models.Teacher.Course.Elements
@model IEnumerable<CoursesPlatform.Models.Teacher.Course.Lesson>
@{
    ViewData["Title"] = "Home Page";
}

<section class="main-element container-fluid">
    <div class="container-fluid">
        <div class="text-container">
            <h1 class="text-title">Онлайн <span>ОБУЧЕНИЕ</span></h1>
            <div class="text-content">
                <p class="discription">
                    Развивайте навыки с помощью онлайн-курсов, сертификаций и дипломных программ от лучших университетов
                    и компаний мира.
                </p>
            </div>
            <a asp-action="Index" asp-controller="Traiding" class="btn">Выбрать КУРС</a>
        </div>
        <div class="image-container">
            <!-- <div></div> -->
            <img src="~/Images/main-pick.png" alt="main">
            <!-- <div></div> -->
        </div>
    </div>
</section>

<section class="news-courses-container">
    <div class="container-courses">
        <h2 class="text-center">Новости курсов</h2>
        @* <div class="news-element">
            <h4>Название курса <span>опубликовал новый урок</span>: Имя урока</h4>
            <p class="description">Описание</p>
            <div class="order">
            <div class="img-cover">
            <img src="~/Images/main-pick.png" alt="" class="card-img card-img-top">
            </div>

            </div>
            <p class="description">Описание</p>
            </div> *@
        @foreach (var lesson in Model)
        {
            <div class="news-element ">
                <h4>Курс: @lesson.Course.Name <span>опубликовал новый урок</span>: @lesson.Topic</h4>
                @foreach (var contentElement in lesson.Content)
                {
                    @if (contentElement is Image)
                    {
                        <div class="order">
                            <div class="img-cover">
                                <img src="@contentElement.GetContent()" class="card-img card-img-top" />
                            </div>

                        </div>
                    }
                    else if (contentElement is Paragraph)
                    {
                        <p class="description">@contentElement.GetContent()</p>
                    }
                }
                <p class="description">...</p>
                <a asp-controller="PersonalArea" asp-action="LessonDetails" asp-route-id="@lesson.Id" class="btn-news">Перейти к уроку</a>
            </div>
        }
    </div>
</section>

@* @foreach (var lesson in Model)
{
    <p>Курс : @lesson.Course.Name опубликовал новый урок - @lesson.Topic</p>
    <div>
        @foreach (var contentElement in lesson.Content)
        {
            @if (contentElement is Image)
            {
                <img src="@contentElement.GetContent()" style="width: 150px; height:150px" />
            }
            else if (contentElement is Paragraph)
            {
                <p>@contentElement.GetContent()</p>
            }
        }
        <p>....</p>
        <a asp-controller="PersonalArea" asp-action="LessonDetails" asp-route-id="@lesson.Id">Перейти к уроку</a>
    </div>
    <hr>
} *@