@using CoursesPlatform.Models.Teacher.Course.Elements
@model IEnumerable<CoursesPlatform.Models.Teacher.Course.Lesson>
@{
    ViewData["Title"] = "Home Page";
}

<section class="main-element container-fluid">
    <div class="container-fluid">
        <div class="text-container">
            <h1 class="text-title">Онлайн <span>ОБУЧЕНИЕ</span></h1>
            <div class="text-content">
                <p class="discription">
                    Развивайте навыки с помощью онлайн-курсов, сертификаций и дипломных программ от лучших университетов
                    и компаний мира.
                </p>
            </div>
            <a asp-action="Index" asp-controller="Traiding" class="btn">Выбрать КУРС</a>
        </div>
        <div class="image-container">
            <!-- <div></div> -->
            <img src="~/Images/main-pick.png" alt="main">
            <!-- <div></div> -->
        </div>
    </div>
</section>

<section class="lesson-main-container">
    <div class="container">
        <table class="lesson-element">
            <tr>
                <td>

                </td>
                <td>
                    
                </td>
            </tr>
        </table>
    </div>
</section>
@foreach (var lesson in Model)
{
    <p>Курс : @lesson.Course.Name опубликовал новый урок - @lesson.Topic</p>
    <div>
        @foreach (var contentElement in lesson.Content)
        {
            @if (contentElement is Image)
            {
                <img src="@contentElement.GetContent()" style="width: 150px; height:150px" />
            }
            else if (contentElement is Paragraph)
            {
                <p>@contentElement.GetContent()</p>
            }
        }
        <p>....</p>
        <a asp-controller="PersonalArea" asp-action="LessonDetails" asp-route-id="@lesson.Id">Перейти к уроку</a>
    </div>
    <hr>
}