@using Microsoft.AspNetCore.Identity
@model CoursesPlatform.Models.ViewModels.ChangeRoleViewModel

@* <h2>Изменение ролей для пользователя @Model.UserEmail</h2>

<form asp-action="Edit" method="post">
    <input type="hidden" name="userId" value="@Model.UserId" />
    <div class="form-group">
        @foreach (IdentityRole role in Model.AllRoles)
        {
            <input type="checkbox" name="roles" value="@role.Name" @(Model.UserRoles.Contains(role.Name) ?
            "checked=\"checked\"" : "") />
            @role.Name 
            <br />
        }
    </div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
</form> *@


<section class="create-product-container">

    <h2>Изменение ролей</h2>
    <div class="container-prosuct">
        <div class="row">
            <div class="col">
                <h4 class="text-center">Для пользователя @Model.UserEmail</h4>
                <div asp-validation-summary="All" class="text-danger"></div>

                <form asp-action="Edit" method="post" class=" edit-user justify-content-center">
                    <input type="hidden" name="userId" value="@Model.UserId" />
                    <div class="form-group">
                        @foreach (IdentityRole role in Model.AllRoles)
                        {

                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" name="roles" value="@role.Name"
                                @(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />
                                @* <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1"> *@
                                <label class="form-check-label" for="inlineCheckbox1">@role.Name</label>
                            </div>
                            @* <input type="checkbox" name="roles" value="@role.Name" @(Model.UserRoles.Contains(role.Name)
                                ?
                                "checked=\"checked\"" : "") />
                                @role.Name
                                <br /> *@
                        }
                    </div>
                    <button type="submit" class="justify-content-center btn-save-edit-user btn">Сохранить изменения</button>
                </form>
            </div>
        </div>
    </div>
</section>
